:root {
  --mainColor: #c13f28;
}


.custom_btn {
  background: #c13f28;
  color: #ffffff;
  transition: 0.5s ease all;
}

.custom_btn:hover {
  background: #ffffff;
  color: #c13f28;
}

.custom_input:focus {
  outline: none;
}

.main-wrapper {
  margin-left: 200px;
  padding-top: 60px;
  

}

.pointer {
  cursor: pointer;
}

.box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}